.bg-Aquamarine {
    background-color: #105D5E;
}

.bg-MayanJade {
    background-color: #009A6E;
}

.bg-MintOfSpring {
    background-color: #B3EDA9;
}

.bg-ScandinavianClovers {
    background-color: #EBFADB;
}

.bg-NeoSolar {
    background-color: #E8E300;
}